* {
  box-sizing: border-box;

}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

div {
    float: left;
}
.container {
  width: 800px;
  margin-left: -121px;
  margin-top: 455px;

}

h2 {
  font-weight: lighter;
}
#c {
  text-align: left;
  position: absolute;
  left: 514px;
  top:1369px;
}

h1 {
  margin-top: 100px;
  margin-left: 290px;
  text-align: center;
  font-weight: bold;

}
#b {
  position: absolute;
  left:75px;
  top:283px;
}

h3 {
  margin: 0;
  font-size: 100px;
  color: black;
  text-align: left;

}
#a {
  /* height:150px; */
  width: 800px;
  background-color: ;
  position: absolute;
  top: 50px;
  left:80px;

}

p {
  margin-left: 160px;
  font-size: 18px;
  top:100px;
}
